[2019-01-06 22:54] ashwinc12 opened #1 "Week 1 Goals"
- [ ] Discuss New Branching (Master, Testing, Competition)

- [ ] Discuss Code Structure

- [ ] Complete basic OI / Controllers

[2019-01-06 22:56] roshanr10 commented on #1
@ashwinc12 my advice would be to split this into multiple issues, this is too broad and has no sense of ownership. you can use GitHub milestones (a feature under the issues tab) to track multiple issues under one goal/deadline

[2019-01-07 00:35] #1 closed

[2019-01-07 03:08] ashwinc12 opened #2 "Add in basic classes"
Add in the following:
- [ ] OI.java
- [ ] RobotMap.java
- [ ] Subsystem folder w/ example
- [ ] Command folder w/ example

[2019-01-07 03:10] TechplexEngineer opened #3 "Add docs for dev env setup"
It would be great to have a section in the readme that explains and links to the relevant documentation as to how to setup a development environment. (VSCode, Gradle, Extensions)

[2019-01-07 03:11] roshanr10 commented on #2
I'd refer to last years moreover WPIs example, their usage of robot map doesn't follow encapsulation very well

[2019-01-07 03:12] roshanr10 opened #4 "Add Reusable Code from Last Year"
- [x] OI
- [ ] LEDs

[2019-01-07 03:14] TechplexEngineer commented on #2
All Sensors and Motor Controllers should be instantiated in the subsystem that they belong to. Robotmap should be a list of `Static Final` information used to instantiate the sensor or controller.

For example when creating a Spark Motor Controller on PWM port 5 for an arm. The PWM port number should be declared in RobotMap.java and the Spark Motor Controller should be instantiated in the arm subs

[2019-01-07 03:16] roshanr10 commented on #2
@TechplexEngineer what do you think of how we did it last year? `new Intake(new Spark(3), new Spark(4))` in Robot.java. I'm all for the list of inputs/outputs but I personally found liked this, I'm open to either though

[2019-01-07 03:18] TechplexEngineer opened #6 "Start thinking about what subsystems might be needed"
There has been some talk about what the robot might look like, what functions it might have and how those functions will work. To start there will definitely be at least a drivetrain subsystem.

Review some guidance on Subsystems:
https://github.com/FRCteam4909/2019-Deep-Space/wiki/Subsystems

[2019-01-07 03:21] roshanr10 commented on #6
I think this is more of a whole team thing, not just software. That said, we'll start to take a look into it

[2019-01-07 03:22] TechplexEngineer opened #7 "Setup Spark MAX and NEO motors for testing"
We currently have two NEO brushless DC motors, and two Spark MAX motor controllers to control them.

We should learn about the new features of the MAX controllers and develop test code for both PWM and CAN operation.

[2019-01-07 03:25] TechplexEngineer opened #8 "Display Robot Camera Feeds"
Retrieve Robot camera video via the CameraServer, and display it on the laptop screen. This will be a crucial capability this year, so let's learn all about the various capabilities we might have with it. (via Derrell)

- [ ] Figure out how to measure bandwidth used
- [ ] Measure Bandwidth with no camera feed while driving
- [ ] Measure Bandwidth with one feed running
- [ ] Investigate ways to min

[2019-01-07 03:26] ashwinc12 opened #9 "Create CODEOWNERS"

[2019-01-07 03:27] TechplexEngineer opened #10 "What sensors do you want, and things to buy"
Given the white tape alignment lines on the carpet, the reflective tape on the Rocket etc. what sensors do you want on the robot?

We have many choices:
- Ultrasonic
- Lidar
- Color
- Pixy / Vision Processing
...

[2019-01-07 03:31] TechplexEngineer commented on #2
I feel strongly that the `3` and `4` in your example @roshanr10 should be in robot map as
[code]

[2019-01-07 03:32] roshanr10 commented on #10
I think overall those are only two non-drivetrain semiautonomous features that we're aiming to hit, I think it would be good to do both tbh, the line for catching it while driving by, I think that's easier to align within a binary style line follower.

As for vision, I think to be able to find the height would be useful. since the offset is the same, we could even have the setpoints for the rocket

[2019-01-07 03:32] roshanr10 commented on #2
I'm assuming you would want PID, setpoints, etc. within robotmap as well?

[2019-01-07 03:35] roshanr10 commented on #8
we might have to look more into compression this year with the 4mb limit

[2019-01-07 03:36] TechplexEngineer commented on #2
I would make a counter argument to put PID setpoints at the top of the class where they are used as

[code]

[2019-01-07 03:43] roshanr10 opened #12 "Figure out git flow for 2019"
Just something to think over, we've had some differing thought processes, I saw the wiki posts and I think we should figure out the best way going forward.

[2019-01-07 03:44] #9 closed

[2019-01-07 03:46] ashwinc12 commented on #12
I know several teams that have a Testing Branch and a Competition Branch, so everything must go through the testing prior to being merged into competition. Just one idea.

[2019-01-07 03:49] TechplexEngineer commented on #12
@ashwinc12 I like that idea. Can Master = Competition? Then we have a testing / dev branch

[2019-01-07 03:57] roshanr10 commented on #12
Also to consider: how do we PR? -- Who reviews, how many approvals, who merges?

[2019-01-07 03:57] #2 closed

[2019-01-07 04:00] ashwinc12 commented on #7
Both SPARK MAX's were updated with the new firmware last meeting

[2019-01-07 04:10] TechplexEngineer commented on #12
I would like to get @derrell input. I think we should be lean on process,
only impose it when really needed.

One thing for sure:
- Master should always be deployable/stable (meaning tested on a robot)

On Sun, Jan 6, 2019 at 10:57 PM Roshan Ravi <notifications@github.com>
wrote:

[2019-01-07 12:13] derrell commented on #10
The line following, on the ground is likely to be the easier of the two to get going with. I'd recommend getting it working first. It, however, will not be as accurate as lining up on the reflective tape, so if we get the line-following working, and then other "mandatory" things done, we should then get back to homing in on the reflective tape.

[2019-01-07 23:51] #3 closed

[2019-01-08 03:51] roshanr10 commented on #7
I'd like someone to follow up with the API releases through forums/support because it seems as though they have yet to release an API publicly for Java/CPP

[2019-01-08 03:59] roshanr10 commented on #12
fair enough, I'd be onboard with the tagging, we just need to make sure we explain it to other software kids because currently they're comfortable with branches and have yet to try tags/releases

my only gripe with going with master as bleeding edge and fully code-reviewed but not fully tested is we may end up writing a decent chunk of code while the robot is in the bag between competitions and it

[2019-01-08 12:02] TechplexEngineer commented on #7
Two more are ordered and on the way

[2019-01-08 12:19] derrell commented on #12
I have no problem with that. Good argument. Let's create a `testing` branch to which PRs are made by each developer, and once it's fully tested there, we then merge it into `master`.

HOWEVER: That "fully tested" part is really important in relation to something else you said there.

How is the code fully tested without a robot to test it on? It is really, really bad practice to make a bunch of ch

[2019-01-08 16:31] roshanr10 commented on #7
Sounds good, so we're looking at a total of four sets of Neos/Maxes?

[2019-01-08 16:38] roshanr10 commented on #12
yeah, that sounds good to me

I should've mentioned more context to that... we only have six hours of time out of bag time the week before the competition to be shared between the various subteams so we have to optimize our testing.
so in this case, it'd essentially be PRing several fixes at once into `testing` to test all at once.

In past, we've tried to test everything together and then check i

[2019-01-08 16:44] derrell commented on #12
We soooooooo need to be building a second robot, to work with after bagging. Even professionals do not write bug-free software on the first try. There needs to be a way to confirm that it works and get it tested.

I know there are complexities to doing so, keeping the two identical, and maybe the two don't need to be quite perfectly identical as long as the non-identicalities are well-known and th

[2019-01-08 17:51] TechplexEngineer commented on #7
yup

On Tue, Jan 8, 2019 at 11:31 AM Roshan Ravi <notifications@github.com>
wrote:

[2019-01-09 23:31] ashwinc12 opened #16 "Driving in straight line using white tape"
Continuing the discussion from today's meeting... comment ideas below

[2019-01-09 23:44] ashwinc12 commented on #16
I found something that could potentially work. Using 6 infrared sensors spread apart evenly at the front of the robot, if the average of the left three sensors is less than the right, than move to the right and vice-versa. Just one option.

[https://maker.pro/arduino/projects/make-line-follower-robot]

[2019-01-10 13:22] TechplexEngineer commented on #16
We have qty (4) of these that should be able to detect the tape on the floor.
https://www.firstchoicebyandymark.com/fc-42ef-d2mpak-f4

https://www.youtube.com/watch?v=uPFfevfpMxs

[2019-01-10 13:41] roshanr10 commented on #16
Something to keep in mind about line followers is that a lot of them assume you’re on the line... we should check the tolerances on the sensor and how close the driver has to get it before the sensors can take over.

[2019-01-11 02:45] roshanr10 commented on #16
@sMyn42 could you clarify what you meant by these “pre-programmed functions”? blob detection for the line using vision?

[2019-01-11 02:47] roshanr10 commented on #12
are we all set to close this by end of meeting tomorrow? I can work with someone to get this written up and posted in the wiki

[2019-01-11 02:49] roshanr10 commented on #4
do you want LEDs? @ashwinc12

[2019-01-11 14:14] ashwinc12 commented on #4
Yeah we can add that in later today

[2019-01-11 15:30] ashwinc12 opened #17 "Test PhotoElectric Sensors"
-Play around with photoelectric sensors to see the functionality of them towards white straight line

[2019-01-12 17:40] ashwinc12 opened #19 "Drivetrain Code"
Begin to code basic drivetrain

[2019-01-12 22:39] #17 closed

[2019-01-13 00:18] ashwinc12 commented on #4
@roshanr10 Can you add the LED stuff you want to reuse?

[2019-01-13 00:38] roshanr10 commented on #4
Add in what you wish, it should just be one class

[2019-01-14 22:16] #12 closed

[2019-01-14 22:16] #7 closed

[2019-01-15 01:47] TechplexEngineer commented on #12
Please provide a link to the wiki article here for reference

[2019-01-15 13:24] derrell commented on #16
Let's not close issues until they get pulled into master, so we don't forget that they are pending. Reopening.

[2019-01-16 02:10] ashwinc12 opened #25 "Investigate LiDAR (Direct to Rio)"

[2019-01-16 02:11] ashwinc12 opened #26 "Add in more photoelectric sensors to Frankenstein"

[2019-01-17 18:42] roshanr10 opened #29 "Look into Communicating w/ Arduino"
Just something to keep in mind if we can't connect from the Rio directly.

This is Last Year's Arduino Code:
[Arduino Device Class (Java)](https://github.com/FRCteam4909/2018-PowerUp/blob/master/src/main/java/org/team4909/bionicframework/hardware/core/Arduino.java)
[Arduino Slave](https://github.com/FRCteam4909/2018-PowerUp/blob/master/arduino/SLAVE_I2C/SLAVE_I2C.ino)
[NeoPixel Class (utilizes Ard

[2019-01-18 13:06] TechplexEngineer commented on #25
One difference between Arduino and RoboRio is the Arduino has pullup resistors on the I2C bus. Did you have pullup resistors when testing?

Here is some sample code for the lidar lite v1.... I think we have the v3. Not sure of the differences.

https://github.com/kauailabs/kauaibotsfirst2010/blob/master/Source/2015/GizmoBot/src/org/usfirst/frc2465/GizmoBot/subsystems/LIDAR.java

https://www.chiefd

[2019-01-18 13:08] roshanr10 commented on #25
Yep, it's the V3, here's the documentation link, if that helps: http://static.garmin.com/pumac/LIDAR_Lite_v3_Operation_Manual_and_Technical_Specifications.pdf

[2019-01-18 15:02] ashwinc12 opened #30 "Fix VexBot drivetrain code"

[2019-01-18 15:05] ashwinc12 opened #31 "Fix BionicF310 Imports Branch"

[2019-01-18 19:32] roshanr10 commented on #31
?

[2019-01-18 19:33] roshanr10 commented on #30
Can we get more descriptive issues please?

[2019-01-18 22:15] ashwinc12 opened #32 "Investigate LiDAR (via Arduino)"
Resource Links:
https://github.com/FRCteam4909/2018-PowerUp/blob/master/src/main/java/org/team4909/bionicframework/hardware/core/Arduino.java
https://github.com/FRCteam4909/2018-PowerUp/blob/master/arduino/SLAVE_I2C/SLAVE_I2C.ino
http://first.wpi.edu/FRC/roborio/release/docs/java/edu/wpi/first/wpilibj/I2C.html

[2019-01-18 23:05] ShashJar commented on #32
https://static.garmin.com/pumac/LIDAR_Lite_v3_Operation_Manual_and_Technical_Specifications.pdf

[2019-01-18 23:52] ShashJar commented on #32
https://github.com/garmin/LIDARLite_Arduino_Library

[2019-01-19 02:53] ashwinc12 opened #33 "Implement Intake Subsystem"
- [ ] Intake (Subsystem)
- [ ] Open Hatch Intake (Instant Command)
- [ ] Close Hatch Intake (Instant Command)
- [ ] Run Cargo Intake Inward (Continous Command)
- [ ] Run Cargo Intake Outward (Continous Command)

[2019-01-19 17:21] roshanr10 commented on #29
Replaced by #32

[2019-01-19 17:21] #29 closed

[2019-01-19 18:43] roshanr10 commented on #32
What’s the difference between this and #25?

[2019-01-19 18:55] derrell commented on #32
This one pertains to using the Arduino library to read from the LIDAR and then send that data to the Rio. The other was intended to read LIDAR directly with I2C on the Rio, which turned out not to work with the initial work, so was (at least temporarily) set on the back burner.

[2019-01-20 01:41] ShashJar commented on #32
Notes to self:
     - Breadboard with LIDAR and Arduino connections pre-wired is on table above PTC in cage. Solder
     and test w/ code sometime during week of 01/20.
     - For testing code, may be useful to reference links in this issue thus far as well as those in
     [https://github.com/FRCteam4909/2019-Deep-Space/issues/29](url).
     - Main thing to test as of 01/19 is sending LIDAR data

[2019-01-21 05:42] TechplexEngineer opened #38 "Use Current from PDP to Limit Motor (Intake)"
Given an intake that uses a motor to manipulate a cargo, we will want code that measures the current drawn by the motor and provide a limit to ensure we don't pop the ball.

- [ ]  When a "current spike" is detected, slow the motor and or stop the motor.
- [ ] Research code needed to prevent a stalled 775 motor from blowing up in smoke (I believe 195 does this)

[2019-01-21 14:40] roshanr10 commented on #38
If we’re using SPXs, as previously discussed, they offer their own built in mechanism for current limiting, for both peak and continuous draw.

I’m not sure of the intricacies of this functionality but it may be simpler than running a continuous loop on the Rio checking for current draw.

Just something to consider as we look more into this.

[2019-01-21 14:42] roshanr10 commented on #38
Disregard my previous comment— I misread the SRX vs SPX disclaimer in the combined manual.

[2019-01-21 14:49] TechplexEngineer commented on #38
Using SRX's for this should work shouldn't it. What disclaimer did you read?

On Mon, Jan 21, 2019 at 9:42 AM Roshan Ravi <notifications@github.com>
wrote:

[2019-01-21 14:53] roshanr10 commented on #38
SRXs will, SPXs don’t have the ability, but that’s a $100 difference. It’s mentioned in the documentation in several places, I’ll add a link later.

[2019-01-21 16:12] roshanr10 commented on #38
https://phoenix-documentation.readthedocs.io/en/latest/ch13_MC.html

it’s mentioned on here, how the method exists but always returns 0 on the SPX.

do we want to consider using SRXs for just this functionality?

[2019-01-21 22:51] ashwinc12 commented on #4
I believe we will be scratching the old Arduino code from last year and rewriting it ... Safe to say this issue can be  closed

[2019-01-21 22:51] #4 closed

[2019-01-22 01:39] TechplexEngineer commented on #6
@roshanr10 Are the notes from the discussion posted somewhere? If no can you post them on a wiki page then link them here.

[2019-01-22 01:58] roshanr10 commented on #6
It was just written out at the meeting— Ashwin and I have copies, I’ll type
it up and post tomorrow
On Mon, Jan 21, 2019 at 20:39 Blake Bourque <notifications@github.com>
wrote:

[2019-01-23 17:07] ShashJar commented on #32
Note to self based off of meeting 01/22/19:
- Compilation errors when trying to build code before deploying to Frankie
- Fix errors at 01/23 meeting and then test if correct LIDAR values are being sent to Rio with Frankie
- I2C wires in Frankie's Rio with crimps attached, rest of wiring is with breadboard/LIDAR/Arduino setup...if time allows and testing is successful solder everything together at

[2019-01-27 15:14] ashwinc12 opened #39 "Making commands for Linefollow and assigning them to buttons"

[2019-01-30 01:57] Vultimate1 commented on #33
I pushed the code I wrote for the Intake subsystem as a command.  Do you know when the intake subsystem is going to be finished?

[2019-02-01 02:33] #39 closed

[2019-02-01 02:40] ashwinc12 opened #43 "Test Current Code (IR, LiDAR, LineFollow & Intake in Testing Branch)"

[2019-02-01 14:10] roshanr10 commented on #43
Threading onto the many starting positions, consider using enums to hold on the different aspects of the many states if needed. That way we’re not dealing with multiple Boolean if statements per condition.

[2019-02-01 19:31] roshanr10 commented on #26
closing given current testing status in #43.

[2019-02-01 19:40] roshanr10 commented on #10
do we want to keep this issue open? it's very general, and has no inherent value – I'll close this and create new ones based upon our existing discussions

[2019-02-01 19:40] #10 closed

[2019-02-01 19:53] roshanr10 commented on #33
just took a look at the as per the intake subsystem code that Jason was working on, with Flood's new intake design, we only need one SPX(wired via CAN), and all the methods names should be more descriptive with game significance.

Please open a PR to testing when done, thanks!

[2019-02-01 19:55] roshanr10 commented on #33
I've updated the initial commit message to reflect a checklist of what needs to be implemented for the intake.

[2019-02-01 20:31] roshanr10 commented on #38
While we plan to have an IR sensor to detect when we are in possession of a ball, I'd like to investigate using current limiting as a secondary failsafe.

[2019-02-01 20:32] roshanr10 commented on #33
Followed by #38

[2019-02-01 20:33] roshanr10 commented on #16
closing for now as per prev. comment, please reopen if deemed necessary

[2019-02-01 20:33] #16 closed

[2019-02-01 20:45] roshanr10 opened #44 "Investigate using IR Sensor (Intake)"
I would like to use the IR sensor for detecting ball possession to avoid running the motors and possibly damaging game pieces.

See: https://cdn-shop.adafruit.com/product-files/1031/GP2Y0A02YK-DATA-SHEET.PDF

So far, I've gotten a sensor to provide analog values back, we need to be able to translate that into usable values. The primary thought process is that we can use it similar to a garage door

[2019-02-01 22:15] roshanr10 commented on #33
Pushed, now being tested as part of #43 - closing issue.

[2019-02-01 22:15] #33 closed

[2019-02-01 23:04] roshanr10 commented on #44
See referenced comments in #47

[2019-02-01 23:07] roshanr10 commented on #44
Also side note, the real intake is 16" wide, while the prototype one is 17", minor details, but just something to remember to recalibrate.

[2019-02-02 17:50] jasonbishop11 commented on #43
- [ ] Test LineFollow Command
- [ ] Test LIDAR
- [ ] Test intake subsystem
- [ ] Attach cameras to chassis
- [ ]Test vision (Maybe?)
- [ ]Compress camera streams using openCV
- [ ] Test Drivetrain switch/invert

[2019-02-02 22:31] roshanr10 commented on #32
@ashwinc12 given that we have it working directly with the Rio, do we plan to look into this or are we good to close?

[2019-02-02 23:19] roshanr10 opened #53 "Implement Elevator"
Hardware:
- [x] 1x SRX Master
- [x]  3x SPX Slave
- [x] 1x SRX Magnetic Encoder

Commands
- [x] Go to Height Setpoint
- [x] Go Speed (-1, 1)

[2019-02-02 23:19] roshanr10 opened #54 "Implement Elevator Arm"
Hardware
- [x] 1x SRX
- [x] 1x SRX Magnetic Encoder

Commands
- [x] Go to Angle Setpoint (enumerated)
- [x] Go Speed (-1, 1)

[2019-02-02 23:23] roshanr10 opened #55 "Design + Implement User Interface"
We need to design the user interface based upon the following requirements (embedded below, found [here](https://github.com/FRCteam4909/2019-Deep-Space/wiki/UI-requirements))

### Driveteam Requests (remedied in subsequent discussion)
#### Driver Controller
- Need Camera to see the floor lines and ahead of me
- A camera to see where the ball is in intake
- Button to switch between manual and auto

[2019-02-02 23:26] roshanr10 opened #56 "Implement Stilts & Climber"
Hardware (discuss more w/ build on motor controllers, and encoders requirements)
- [ ] 1x Drive Wheels (SPX) (Bag motor)
- [ ] 1x Lift Motor (SRX) (Bag motor) (Encoder)

Commands (works in conjunction w/ existing elevator setpoints)
- [ ] Drive Stilt Wheels Speed
- [ ] Control Stilts Speed (manual power setpoint)

[2019-02-02 23:30] roshanr10 opened #57 "Plan out Semi-auto Commands"
- AcquireHatchPanel
- AcquireCargo
- PlaceHatchPanel (Cargo Ship Low/Rocket Low, Rocket Med, Rocket High)
- PlaceCargo (Cargo Ship Low, Rocket Low, Rocket Med, Rocket High)
- Climb

This is what I can think of so far, what else am I missing?

[2019-02-03 00:32] ashwinc12 commented on #25
@roshanr10 What were you thinking of using the PID distance for?

[2019-02-03 00:40] ashwinc12 commented on #32
Can move this to #25 ... ended up using PWM rather than Arduino

[2019-02-03 00:40] #32 closed

[2019-02-03 00:42] ashwinc12 commented on #44
Task was completed... now in testing phase in #43

[2019-02-03 00:42] #44 closed

[2019-02-03 00:46] TechplexEngineer commented on #25
Drive until you are x inches from the rocket?

[2019-02-03 00:48] TechplexEngineer commented on #53
Do we have 3x spx's ?

[2019-02-03 01:00] roshanr10 commented on #53
We should have at least 4 SRXs and 4 SPXs (we bought extras since we didn’t
know about the Neos till after) .. I will check the exact count Monday and
post back what I find

On Sat, Feb 2, 2019 at 19:48 Blake Bourque <notifications@github.com> wrote:

[2019-02-03 01:01] roshanr10 commented on #25
Well, now I’m curious, what else were you planning to do with the LIDAR?
On Sat, Feb 2, 2019 at 19:46 Blake Bourque <notifications@github.com> wrote:

[2019-02-03 01:44] ashwinc12 commented on #25
If `lidar.getDistance()` was less than 5 cm or so (can be determined later),  then exit the LineFollow command and call a different command (Ex: place hatch, place ball, etc). Not sure if a PID would be necessary in this situation, in my opinion.

[2019-02-03 01:50] roshanr10 commented on #25
ah, yeah, makes sense. so we'd be navigating with the line, but using LIDAR as a finish condition. I was under the impression that you were planning to use the LIDAR to finish driving up as soon as you found the line.

my question though is how quick can we line follow in comparison to LIDAR & gyro? for a straight line distance, would the latter be quicker than using the line? just throwing anothe

[2019-02-03 02:13] ashwinc12 commented on #25
The working linefollow in testing is fairly quick and we'll be gradually increasing the speeds as well in the upcoming days.

[2019-02-03 02:15] roshanr10 opened #59 "Investigate LED Strips"
We need to look into using LED strips again, for signaling events to the driver. This could include drivetrain orientation (front/back), cargo possession, or even a mix of the two.

However, I think we should look into alternate ways to do this, as we used an Arduino over I2C last year, which may or may not have been entirely necessary.

**NOTE**: Please do **NOT** begin work on this issue until e

[2019-02-03 02:18] roshanr10 commented on #25
can you define fairly quick? also, is increasing the speed based on theory? I'd be interested to see how quickly it can go without drifting.

What's the tolerance between the distance between the inside sensors and the width of the line?

[2019-02-03 02:39] roshanr10 opened #60 "Decide on Dashboard GUI"
We need to look more into the dashboard interface, currently planning to use the MS Surface we're getting for a touchscreen operator interface.

Derrell has written up a sample which binds directly to the Rio end in Java. However, we've also tested this in the past and found FRCDashboard a viable solution that connects directly to NT, which may be easier in terms of integration: https://github.com

[2019-02-03 04:02] roshanr10 commented on #25
@ashwinc12 just something running thru my mind, but could we use the LIDAR to automate the alignment for the climb? that way we can determine distance from the wall, and react accordingly

[2019-02-03 04:03] ashwinc12 commented on #25
Yes, I thought that was part of #57

[2019-02-03 04:04] roshanr10 commented on #25
yeah, I wasn't sure of implementation details- just curious if it seemed viable based on your test results in the shop

[2019-02-03 15:06] derrell commented on #60
Indeed. If SmartDashboard can be sufficiently customized and become sufficiently easily usable, it's a fine tool to use. I'm currently working on the assumption that it will not be adequate, so developing an alternative. One of the big issues that I don't think SmartDashboard addresses is that we will have multiple modes of operation, some that are only very rarely used. In the UI that I'm thinkin

[2019-02-03 15:08] derrell commented on #60
One thing to consider is that the camera output will almost certainly be via SmartDashboard. If we have an external monitor for the camera view, can SmartDashboard be split into two parts, or can the camera output be separated and moved onto a different screen?

[2019-02-03 15:12] roshanr10 commented on #60
To clarify, I was referring to [FRCDashboard](https://github.com/FRCDashboard/FRCDashboard), a fully customizable third party Electron app which connects to the robot via NetworkTables, similar to the existing SmartDashboard.

We could implement an interface in any web framework we’d like, it’d just be using a more standard communication stream behind the scenes so we don’t to recreate that.

I’m

[2019-02-03 15:15] roshanr10 commented on #60
This project also supports built-in camera stream access, and could be split however we’d like (open 2 tabs). I don’t believe you can split the official SmartDashboard as easily.

[2019-02-04 12:35] derrell commented on #60
I haven't used FRCDashboard before. It appears that it, too, uses an external framework (Electron), so also requires setting up its development environment... and also whatever JavaScript framework one wants to use (e.g., bootstrap). I like the fact that they're using Network Tables for the communication. I opted against that only because the documentation for it is so poor, but using Network Tabl

[2019-02-04 12:52] roshanr10 commented on #60
Ashwin and I have been able to setup FRCDashboard before, and we should be able to get it going again. Electron apps can be easily compiled to a native app, like Atom. There’s documentation on how to do this even within the FRCDashboard repo.

I really appreciate your efforts on this, I think I’ll work on this in parallel and we can decide when it comes to it.

[2019-02-04 16:52] roshanr10 opened #63 "Mount & Test Gyro for Stilts Control"
NavX Omnimount: https://pdocs.kauailabs.com/navx-mxp/installation/omnimount/

If we're planning to use the NavX at an atypical angle, we need to use this calibration procedure... that said, one of the axes has to be perpendicular to the surface, which it currently is not.

Just something to think about, if we intend to use the gyro. Thoughts/input?

[2019-02-04 21:24] roshanr10 commented on #8
closing as per discussion at meeting

[2019-02-04 21:24] #8 closed

[2019-02-04 21:31] sMyn42 opened #66 "Reflective Tape Detection with OpenCV"
Determine whether or not to use the Pi, and figure out what types are retuned by common OpenCV functions in Java.

The end goal is to be able to incorporate error from the angled tape camera into a PID.

[2019-02-04 21:36] sMyn42 commented on #66
The camera stream issue is done, we have 2 cameras running on decent resolution, and 20 fps.

[2019-02-04 21:57] roshanr10 commented on #60
Threading onto this, I was able to confirm that we can call commands through NT in a manner consistent with my earlier response. I've taken a snapshot of the NT server data, and will play with it - hopefully I'll have something basic coordinated by tomorrows meeting

[2019-02-05 23:03] #43 closed

[2019-02-06 16:04] #25 closed

[2019-02-06 16:07] ShashJar opened #71 "Investigate Uses of LIDAR"
Direct LIDAR-to-Rio communication has been successful thus far. After some further testing, it is necessary to start implementing LIDAR into field actions. Current (as of 02/06/19) ideas include:
- Implementing in conjunction with Line Follow so that we position the robot a certain distance from the ship/bay and then move into an intake or outtake command
- Detecting distance from wall when climbi

[2019-02-06 20:16] roshanr10 commented on #57
Closed based on discussion at meeting 2/6, and revised initial comment.

[2019-02-06 20:16] #57 closed

[2019-02-08 02:17] Vultimate1 commented on #66
I have code for the GRIP reflective tape detection that returns a value indicating how much the robot should turn to line up with the tape, and follow the line.  I just need to test it tomorrow.

[2019-02-08 12:22] derrell commented on #66
Nice work!

[2019-02-08 20:52] ashwinc12 opened #73 "Code Stilts Subsystem"

[2019-02-08 20:53] ashwinc12 opened #74 "Test NavX Gyro"
-Use gyro to align with stilts

[2019-02-08 21:50] roshanr10 commented on #74
Potential duplicate of #63? Also, the NavX is not guaranteed to work in it's current orientation, just something to think about. That said, I think it's a standard PATA/IDE connection you'll find standard in any desktop pre-2006, so we might be able to salvage a ribbon cable to mount it elsewhere. Or, we could test the USB connection– just something to think about

[2019-02-09 03:09] ashwinc12 opened #76 "Needs to be tested"
Running list of things that need to be tested on competition bot; feel free to add things to list

-Switch drive
-Line follow with an angled orientation
-Cargo intake commands (in, out, hold)
-Hatch panel intake commands (open, close)

[2019-02-09 03:18] #74 closed

[2019-02-09 03:19] ashwinc12 commented on #38
@roshanr10 What's the status of this?

[2019-02-09 03:20] ashwinc12 commented on #73
My fault- duplicate of #56

[2019-02-09 03:20] #73 closed

[2019-02-09 03:20] roshanr10 commented on #38
Ready for testing on comp bot, it’s been PRed

On Fri, Feb 8, 2019 at 22:19 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-09 03:22] ashwinc12 commented on #63
Let's see if we can use this in conjunction with #56 in order to keep both the front and back stilts moving at the same speed

[2019-02-09 03:24] roshanr10 commented on #63
I’d look at using encoders for this, I’m not sure if you saw my post in the
duplicate issue of this you created, but the navX will not work in the
position it’s currently mounted
On Fri, Feb 8, 2019 at 22:22 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-09 13:44] derrell commented on #63
We are going to remount the Rio on its angled board so that it is horizontally oriented. The gyros will then work properly, and should provide better control than encoders. (There are two entirely different mechanisms for the front and rear stilts, so getting encoders to align them would be a complicated math problem. Certainly doable, but I think the gyro may be substantially easier to get workin

[2019-02-09 13:48] derrell commented on #76
- Each low-level Command should be individually tested
- Each higher-level CommandGroup should be tested
- Manual control of each actuator (via, eventually, the secondary gamepad)

[2019-02-09 14:21] #53 closed

[2019-02-09 15:10] roshanr10 commented on #76
Switch drive had been tested on comp bot, just an FYI

[2019-02-09 15:46] ashwinc12 commented on #26
https://ab.rockwellautomation.com/Sensors-Switches/Photoelectric-Sensors

[2019-02-09 15:46] #26 closed

[2019-02-09 15:48] ashwinc12 opened #77 "Create manipulator gamepad"
-Add in all manual functions to manipulator gamepad

[2019-02-09 16:12] ashwinc12 commented on #76
**Test Plan**

- [ ] Hatch Panel Open and Close (LB  & RB)

- [ ] Cargo Intake  (X & Y)

- [ ] Elevator Up and Down

- [ ] Elevator SetPoints

- [ ] Test NavX to see what values the `getPivot()` method prints in order to see if it is useable in current position

[2019-02-09 18:36] Vultimate1 commented on #66
Anybody know if it is possible to transfer the GRIP program output to the SmartDashBoard to display it?

[2019-02-09 19:41] roshanr10 commented on #66
You'd have to use CameraServer to push the stream to the robot if I remember correctly, @sMyn42 may have a better idea

[2019-02-09 22:04] TechplexEngineer commented on #66
Where do you plan to execute your GRIP pipeline? On the roborio, on a
raspberry pi?

Once you answer that question we can discuss getting the data out of the
pipeline

On Sat, Feb 9, 2019 at 2:41 PM Roshan Ravi <notifications@github.com> wrote:

[2019-02-09 22:29] ashwinc12 commented on #54
Tested 2/9

[2019-02-09 22:29] #54 closed

[2019-02-09 22:44] roshanr10 commented on #60
@ashwinc12 how many cameras do we plan to be running, and how many simultaneously?

[2019-02-10 00:37] sMyn42 commented on #66
We decided to just stick to java and open cv, no Pi.

On Sat, Feb 9, 2019, 5:04 PM Blake Bourque <notifications@github.com wrote:

[2019-02-10 03:39] ashwinc12 opened #82 "Implement Elevator and Arm PID Loop"

[2019-02-10 03:44] roshanr10 commented on #55
Here's what we came up in our discussion for dashboard:

Both Driver/Operator Screens:
- Match Timing
- Cargo Detection (Based on IR Sensors)

Main Screen Only (Jeff & Matt):
- FRC Driver Station
- Both Camera Streams
- Line Alignment (4x Photoelectric Sensors Feedback)
- Elevator Height (encoder ticks, for climbing)
- Drivetrain Inversion

Operator Screen Only (Jeff):
- Semiautonomous Commands In

[2019-02-10 03:48] roshanr10 commented on #55
Cameras:
- Facing Intake (Hatch & Cargo)
- Facing Floor Lines
- Facing Ahead

I'm currently unsure if we want ahead & floor lines taken care of by the same camera or have a switching functionality... thoughts?

[2019-02-10 03:50] roshanr10 commented on #71
@ashwinc12 is this in testing?

[2019-02-10 03:51] roshanr10 commented on #56
we're waiting on #63 but theoretically this'll just follow the elevator going up when this is enabled to try to keep the robot level

[2019-02-10 03:52] ashwinc12 commented on #71
Lidar is only used with Linefollow at the moment which is in testing

[2019-02-10 03:53] #71 closed

[2019-02-10 03:55] roshanr10 commented on #56
i think this should be built as part of the existing elevator subsystem and kick in whenever the elevator subsystem tries to go farther negative (below the initial starting point), and then have a retract upward feature

[2019-02-10 03:56] roshanr10 commented on #38
this seemingly works, but we have to hone down the exact numbers Monday

[2019-02-10 03:56] roshanr10 commented on #55
Prior to #77, I think we need to finalize both gamepads for their full functionality control. thoughts? @ashwinc12

[2019-02-10 03:58] ashwinc12 commented on #60
^ @roshanr10 2 cameras running simultaneously at 20 fps

[2019-02-10 04:00] roshanr10 commented on #60
see my comments on cameras in #55

[2019-02-10 04:02] roshanr10 commented on #56
one way to to do this would have the stilts PID on gyro values to be level when the stilts are activated– then once you're mostly on, you can override the PID and bring them up as well

[2019-02-10 04:03] roshanr10 commented on #82
also is there elevator arm using absolute or continuous encoders in the VP right now?

[2019-02-10 04:03] ashwinc12 commented on #55
Yes. We should have both gamepads ready for competition in case the smartdashboard stuff doesn't work or if the drivers preferred gamepads instead.

As of right now,

driverGamepad can do the following

- Drive

- Invert Drive

- Linefollow

manipulatorGamepad can do the following

- Cargo Intake In & Out

-  Hatch Panel Open & Close

- Elevator Up and Down

- Elevator Arm Pivot

[2019-02-10 04:20] roshanr10 commented on #55
Here's what I'm thinking, feel free to add/change:

Driver Gamepad:
- LY: Drive Speed
- RX: Drive Rotation
- LT: Drive Stilts
- LB: Retract Stilts
- RT: Invert Drive Direction

Operator Gamepad:
- LY: Elevator Arm Pivot
- RY: Elevator Speed
- RT: Cargo Intake In
- RB: Cargo Intake Out
- LT: Hatch Panel Intake In
- Y: Rocket Top Hatch Panel (Elevator Setpoint)
- X: Rocket Medium Hatch Panel (Elevat

[2019-02-10 04:24] roshanr10 commented on #55
This is also assuming my comments in #56 that the stilts automatically engage to keep the robot level once the elevator begins to lift the robot off the ground and that once `LB` is pressed, the PID loop is subsequently disabled.

Furthermore, the elevator hatch panel setpoints are intended to set heights and wrist articulation, to clarify.

[2019-02-10 04:34] roshanr10 commented on #77
I'm merged this functionality into #55. Closing.

[2019-02-10 04:34] #77 closed

[2019-02-10 04:38] roshanr10 commented on #82
right now, the PID is not even initialized, see CTRE doc, this is fairly straightforward, and I think a P heavy loop itself would do a majority of the hold position, maybe some D to dampen it– this goes for both arm and elevator

[2019-02-10 04:39] roshanr10 commented on #60
Closing and merging into #55.

[2019-02-10 04:39] #60 closed

[2019-02-10 04:59] roshanr10 opened #83 "Design + Implement Driver User Interface"
Based on our current state of discussion, this is what we have done as a possible driver/operator interface for the robot this year. This issue entails discussing this with drive team, and then subsequently implementing the unfinished functionality.

# Gamepads
## Driver Gamepad:
- [ ] LY: Drive Speed
- [ ] RX: Drive Rotation
- [ ] LT: Drive Stilts
- [ ] LB: Retract Stilts
- [ ] RT: Invert Drive D

[2019-02-10 05:00] roshanr10 commented on #55
cleaned up and revived as #83.

[2019-02-10 05:01] roshanr10 commented on #76
@ashwinc12 what does "* Attach Photoelectric sensors in middle to LineFollow" mean?

[2019-02-10 05:04] roshanr10 opened #84 "Create Elevator & Arm Commands"
We should have elevator commands so that we can use them as building blocks within our semiauto code, this entails making the requisite commands, and instantiating the proper default command.

[2019-02-10 05:07] roshanr10 commented on #82
@jasonbishop11 I'd like this done and tested by end of meeting Monday, if possible. should be just a few lines to get this going, you had most of the basics already implemented if I'm right.

[2019-02-10 05:08] roshanr10 commented on #84
@jasonbishop11 I'd also like this done and tested by end of meeting Monday, if possible. this is a little more substantial than #82 but shouldn't be too difficult in my opinion.

give it a go, and let me know if you have any questions

[2019-02-10 05:09] roshanr10 commented on #66
@sMyn42 can you work with @Vultimate1 to display on the SmartDashboard during Monday's meeting?

[2019-02-10 05:10] roshanr10 opened #85 "Implement Semiautonomous Commands"
As per semiauto commands in #83

[2019-02-10 05:11] roshanr10 commented on #76
closing and breaking down into discrete issues.

[2019-02-10 05:11] #76 closed

[2019-02-10 05:11] roshanr10 opened #86 "Test & Finalize LineFollowing Mechanism"

[2019-02-10 05:14] roshanr10 commented on #56
blocked by #63

[2019-02-10 15:06] derrell commented on #55
Why is this issue closed?

[2019-02-10 15:13] derrell commented on #55
It's hard to understand how this could all be determined entirely by the software team. The software team is not doing the driving or operating... And furthermore, it seems like all of the recommendations of the expert in the field of user interface design have been ignored in the process of coming up with these solutions. It's your choice, of course, but seems a poor decision, to me.

The goal of

[2019-02-10 15:13] roshanr10 commented on #55
This issue was streamlined in the new issue #83 as per my last comment, all
of the content is otherwise identical, but this was becoming immensely
difficult to follow.

On Sun, Feb 10, 2019 at 10:06 Derrell Lipman <notifications@github.com>
wrote:

[2019-02-10 15:15] roshanr10 commented on #55
To clarify, this is not the final revision. We just wanted to make it easier to follow along the design process as it documented in #83. That’s been sent out to Matt & Jeff for a preliminary review, this was just to start discussion.

[2019-02-10 15:16] derrell commented on #83
See my comment in #55 about software engineers designing the user interface. It's your (students') project. I highly recommend, however, that you take advantage of my experience, or better yet, the knowledge and experience of the user interface design expert we brought in, in conjunction with your actual users -- the driver and operator -- to come up with a good user interface design.

[2019-02-10 15:19] roshanr10 commented on #83
Yes, I certainly agree, this can definitely use more work, and we’d love to hear input from you, Shelley, and the rest of the drive team.

As I iterated in #55, this was just one potential possibility in which all of the outcomes are identified, and we can test with. Suggestions are welcome, and will of course be considered.

[2019-02-10 15:22] roshanr10 commented on #55
Closing as per earlier discussion, this is valuable information but more difficult to see the overall perspective as in #83

[2019-02-10 15:22] #55 closed

[2019-02-10 15:33] roshanr10 commented on #83
Further, the dashboard section has already been reviewed and modified by Ashwin, Matt (driver) and Jeff (operator).

The gamepad section was designed based on earlier discussion and is pending further review — this is just a formal record of the result of all the discussions we’ve had to date, as we begin to approach finalizing the interface.

[2019-02-11 01:50] ashwinc12 commented on #83
- Let's see if we can get more than just 2 cameras streaming as well even if we have to drop the fps down quite a bit... ideally, 3-4 would be nice now that we know we can stream 2
- If we were to stick with just two, I'd like to just have one that is at a medium height and can be used for solely driving and another camera facing the floor and has the red lasers within sight in order to be used fo

[2019-02-11 04:44] roshanr10 commented on #83
Even if we can get more than 2 running, should we..? I'm all for having for views but I'm not certain if we want them all streaming at the same time, for bandwidth concerns, and also the fact the drivers are only doing so much at a given point.

If there is one looking ahead and one facing the floor when aligning, does the driver ever need to be able to operate with both? Something we should get i

[2019-02-11 22:36] roshanr10 commented on #63
Tested, working— closing

[2019-02-11 22:36] #63 closed

[2019-02-11 22:36] roshanr10 commented on #82
Tested and working — closing

[2019-02-11 22:36] #82 closed

[2019-02-11 22:41] roshanr10 commented on #84
Need to find set points for this

[2019-02-12 05:01] roshanr10 commented on #83
We conferred with Jeff, Matt and Bryan at today's meeting, @ashwinc12 has their feedback and will post later, just an FYI

[2019-02-12 05:10] roshanr10 commented on #38
some psuedocode I got from a discussion on a FRC channel:
[code]

[2019-02-12 19:16] Vultimate1 commented on #38
@roshanr10 I have the current limiting code using the newer IntakeSubsystem and I can PR it, if you want.

[2019-02-12 19:25] roshanr10 commented on #38
Nah, we’re all set, I pulled in the relevant changes

On Tue, Feb 12, 2019 at 14:16 SKrishnamoorthy <notifications@github.com>
wrote:

[2019-02-13 03:23] ashwinc12 commented on #83
**Driver Comments**
- Would like to use Gyro with stilts
- Prefer the following on the touch screen:
  LB: Adjust Rocket Hatch Panel Setpoints for Cargo (Elevator & Arm Setpoint)???
  Y: Rocket Top Hatch Panel (Elevator & Arm Setpoint)
  X: Rocket Medium Hatch Panel (Elevator & Arm Setpoint)
  A: Cargo Ship/Human Player/Rocket Low - Hatch Panel (Elevator & Arm Setpoint)
  B: Cargo Ship - Cargo (El

[2019-02-13 03:58] roshanr10 commented on #83
- as for those on the touch screen, I'd be okay with it HOWEVER that means if the touchscreen does not work, they have NO way to use those setpoints. I'd want that in writing before we implement that... that also means if touch screen only semiautos don't work, they'd be using a gamepad for most of OI and then switching to the touch screen intermittently. if anything, both would be worth consideri

[2019-02-13 15:13] ashwinc12 opened #87 "Mount & Stream Two Cameras on Robot"
Test streaming two cameras on robot

[2019-02-13 16:16] sMyn42 commented on #87
Ok boss

On Wed, Feb 13, 2019, 10:13 AM Ashwin Chitoor <notifications@github.com
wrote:

[2019-02-14 00:54] ashwinc12 opened #88 "Fix setpoint problem and adjust values for 7 different heights"
Currently having trouble with the `setElevatorPosition` command:

The following method does not seem to be working (line 63 of elevatorSubsytem.java in WIP)
`public void setPosition(int position){
        leftSRX.set(ControlMode.Position, position);
    }
`
It was discussed that we may be missing a function that tells the elevator to run or that the elevator itself doesn't "know where it is".

Any

[2019-02-14 01:11] roshanr10 commented on #88
Does holding position still work.?

On Wed, Feb 13, 2019 at 19:54 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-14 02:10] ashwinc12 commented on #88
Yes, the arm and the elevator both stay up which means that they are staying at the setpoints.

[2019-02-14 02:54] ShashJar commented on #56
See climber branch.

Newest commit saw writing of untested code for stilts in climber subsystem. Included classes are DriveStilts and RetractStilts with buttons specified in #83.

To-Do List for this code for next meeting:

- "The type ClimberSubsystem must implement the inherited abstract method Subsystem.initDefaultCommand()" error showing up on Climber Subsystem class when declared

- Figure ou

[2019-02-14 02:57] ashwinc12 commented on #88
https://www.chiefdelphi.com/t/talonsrx-position-control-mode-not-stopping/346268

Looks like a similar problem to ours

[2019-02-14 03:24] ashwinc12 commented on #88
https://www.chiefdelphi.com/t/talonsrx-control-position-not-setting-elevator-position/346277

Got some responses back from the thread. Just committed the changes and will test at tomorrow's meeting.

[2019-02-14 03:44] ashwinc12 commented on #88
Not sure how much it is going to change considering the setPosition() works with the operatorControl command

[2019-02-14 03:52] roshanr10 commented on #88
I thought i changed the slots issues—I’d recommend using the default slot
0, just in case it affects anything else. I’m not sure why the code was
setup that way
On Wed, Feb 13, 2019 at 22:45 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-14 03:57] roshanr10 commented on #56
For future, WIP branches are nice because it allows for easier code
comments and can eventually be merged in. I’ll take a look in a few hours.

I think I’ve seen the first issue in past, I’ll see what I can do.

On Wed, Feb 13, 2019 at 21:54 Shashank Jarmale <notifications@github.com>
wrote:

[2019-02-14 05:37] roshanr10 commented on #88
I'd highly recommend seeing the status output from the SRX using the Phoenix Tuner

[2019-02-14 05:40] roshanr10 commented on #56
There are two motors within the subsystem on entirely different gearboxes...see initial comment in issue.

[2019-02-14 05:41] roshanr10 commented on #56
You just need to implement `initDefaultCommand()` as an empty method to avoid throwing the aforementioned error

[2019-02-14 05:43] roshanr10 opened #89 "Develop SmartDashboard CODE Interface"
This issue entails making sure all the desired variables to be shown in SmartDashboard are sent via NetworkTables.

[2019-02-14 05:45] roshanr10 opened #90 "Develop WPI SmartDashboard UI"
This issue entails taking #89 and putting together a minimum viable interface in the event we do not have a custom dashboard or if other problems arise.

The layout should be saved & committed to version history.

[2019-02-14 05:46] roshanr10 opened #91 "Develop Custom HTML Dashboard"
Once #89 & #90 are complete, I'd like to put together a more user-friendly dashboard in Bootstrap... I've put together most of this in my spare time already, I just need to make modifications as per the outputs in #89.

[2019-02-14 05:47] roshanr10 commented on #88
just for tracking history, part of #84

[2019-02-14 05:54] roshanr10 commented on #87
has camera mounting been resolved?

[2019-02-14 11:24] ashwinc12 commented on #87
Update: we were able to get 2 cameras streaming on competition bot yesterday. We are planning on having 4 cameras with the ability to switch between then/ have multiple up at once. As for mounting, we are 3D printing mounting cases.

[2019-02-14 12:38] ashwinc12 commented on #88
https://github.com/CrossTheRoadElec/Phoenix-Examples-Languages/blob/master/Java/PositionClosedLoop/src/main/java/frc/robot/Robot.java

[2019-02-14 12:49] ashwinc12 opened #92 "Map Gamepad Buttons for both controllers"
- I know that the plan is to implement a user interface but I'd like to have the gamepads ready anyways

[2019-02-14 13:01] roshanr10 commented on #87
As for planning, has Flood been told.?

Also, what is each camera and each stream for, just trying think of how the
drivers might use them... another thing to consider is we need a USB hub if
we go over 2 cameras on the Rio. Doable, but just another thing to
consider, also unsure how much power it can provide and the cameras need.

On Thu, Feb 14, 2019 at 06:24 Ashwin Chitoor <notifications@github

[2019-02-14 13:05] roshanr10 commented on #92
The reasoning behind this is to cover edge cases if the touch screen fails-
we currently have no backup in that case.

Given what we have right now, and based on discussion yesterday, I think we
should be ABLE to fallback to any other team laptop and still be able to
compete successfully, while losing the semiautos... ideally, all else
should remain constant for the drivers.

Semi-autos are nice b

[2019-02-14 13:11] derrell commented on #87
I suggest looking for, right away, a powered USB hub. The special requirement you have is that it be powered by 12V DC or 5V DC. Most powered USB hubs use a wallwart that may even provide 12V DC; you just need to confirm that in the specs before purchase. Let me know if you want confirmation or help.

[2019-02-14 13:18] ashwinc12 commented on #87
Didn't get a chance to extensively talk with drive team so see where they wanted cameras and their opinion on how to mount. Later tonight I'll finalize where we are mounting each of our cameras and the mounting method for each. I'll mention the 3D printing to flood so he's in the loop

[2019-02-14 13:19] roshanr10 commented on #87
An option: AmazonBasics 4 Port USB 3.0 Hub with 5V/2.5A power adapter
https://www.amazon.com/dp/B00DQFGH80/ref=cm_sw_r_cp_api_i_IOwzCb96BW15R

FYI Rios VRM 5V caps at 2A, so 12V means potentially higher amperage (20a)
or we need to use a buck converter of our own

I’d recommend ordering this by tonight so we can have it over the weekend,
if we can’t find one locally. Might be able to grab one from

[2019-02-14 13:20] roshanr10 commented on #87
Tell him ASAP so he can print like now, you could have it for the meeting
then... print 6 or so

On Thu, Feb 14, 2019 at 08:18 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-14 13:26] ashwinc12 commented on #87
https://grabcad.com/library/microsoft-lifecam-hd-3000-mount-for-frc-vision-1

@TechplexEngineer and I looked at a different camera mount quickly last night because we couldn't find the old mount that we had before. However, we used this for the robot 2 years ago and it worked well. Thoughts?

[2019-02-14 14:17] roshanr10 commented on #87
Yeah figure out the design but the last years mount is in the team onshape
org in a 3d printed parts folders, I just checked

I’ll take a look at this one shortly

On Thu, Feb 14, 2019 at 08:26 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-14 14:31] ashwinc12 commented on #87
Talked to Flood and he’s printing at least 4 out.

[2019-02-14 21:00] roshanr10 commented on #88
any luck?

[2019-02-14 21:15] ashwinc12 commented on #88
We'll start with the test mode on the Pheonix Tuner and then go from there tonight. In the meanwhile, I'll look for other potential solutions.

[2019-02-14 21:52] roshanr10 commented on #88
current working code is still in WIP branch, right?

[2019-02-14 21:53] ashwinc12 commented on #88
Yes. It would be good to get that merged soon to testing

[2019-02-14 22:34] roshanr10 opened #93 "Make Release from Testing Branch on Stop Build Day"
This should be done for all tested code following stop build day so we have a checkpoint we can revert to if needed. Ashwin knows how to this and Blake/Derrell should too if I'm right, it's pretty straightforward.

[2019-02-14 22:46] roshanr10 opened #94 "Save NetworkTables State for Simulations"
For the custom dashboard stuff, I'd appreciate if someone could save the NT state right before bag so we can simulate the interface perfectly. Let me know if you have any questions. Thanks.

Steps to do so:
1) Connect to Robot & Open FRC Driver Station
2) Run `python3 ~/frc2019/tool/OutlineViewer.py`, or the respective equivalent on Windows... it's within the official directory for
3) Connect to N

[2019-02-15 02:10] ashwinc12 commented on #83
Should be noted that Jeff wanted LY for elevator and RY for the arm

[2019-02-15 12:44] ShashJar commented on #83
Will finalize controls on WIP tonight after double-checking w build

[2019-02-15 12:51] ashwinc12 commented on #88
I think a potential solution would be to switch the encoder to absolute instead of relative. After doing some research, I found that the `.set()` method that we are using to set the elevator height either takes in as a parameter encoder ticks or an analog value, depending on the sensor. Prior, we were giving it a value of -2000 which doesn't make sense for an analog value. Changing the encoder to

[2019-02-15 13:06] roshanr10 commented on #88
It uses whatever sensor is configured in the API... make sure you check the
requisite spec. let me know if you need help finding it

On Fri, Feb 15, 2019 at 7:51 AM Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-15 13:07] roshanr10 commented on #88
I agree on absolute for arm, but we still need a way to zero the elevator
itself since there's no hard stops (unless they've since been added, if so
that's great)

On Fri, Feb 15, 2019 at 8:06 AM Roshan Ravi <roshanravi10@gmail.com> wrote:

[2019-02-16 00:24] ashwinc12 opened #96 "Update SPARK MAX software"
Needs to be done before stop build day

[2019-02-16 01:04] ShashJar commented on #87
02/15/19 Meeting: Locations for cameras have been chosen by drive team. 4 cameras in total. Code will be updated to lower resolution of each stream to fit each view and also place text specifying what angle each view is streaming from, so drive can practice with a convenient setup.

[2019-02-16 01:08] ShashJar commented on #88
Problem has been fixed by making PID value nonzero. Still to-do with this issue:

- Test PID to make sure whatever value we choose is not random and will not negatively affect robot control
- Add all 7 needed setpoints for matchplay and test each - calibrate elevator speeds as necessary
- Figure out assignment of different setpoints to different buttons on controllers -----> speak to drive team ab

[2019-02-16 01:55] roshanr10 commented on #87
Sounds good, are they having all 4 stream at once or switching
functionality?

On Fri, Feb 15, 2019 at 20:04 Shashank Jarmale <notifications@github.com>
wrote:

[2019-02-16 02:58] roshanr10 commented on #87
Also, can we get a clear list of what each camera angle is and it’s
intended use case in context of driving the robot?
On Fri, Feb 15, 2019 at 20:55 Roshan Ravi <notifications@github.com> wrote:

[2019-02-16 15:08] #96 closed

[2019-02-16 16:04] ShashJar commented on #86
Idea as a backup to Line Follow if testing does not yield efficient results:

- There will be a camera mounted on the front bottom of the robot facing downwards, or potentially angled slightly upwards like the photoelectric sensors currently are
- Drive team positions the robot near the line with some error being possibly up to 30 degrees on either side
- There will be two buttons on the robot. Ea

[2019-02-16 16:06] ashwinc12 opened #97 "Set angle to 90 degrees for elevator arm"

[2019-02-16 16:39] ashwinc12 opened #98 "Switch hatch panel to double solenoid"
Port 0 & 1

[2019-02-16 18:05] jasonbishop11 opened #99 "Implement motion magic"
[https://www.ctr-electronics.com/downloads/pdf/Talon%20SRX%20Software%20Reference%20Manual-4.pdf](url)
Section 12.8

[2019-02-16 21:38] ashwinc12 commented on #98
Coming in with the pull request from wip

[2019-02-16 21:38] #98 closed

[2019-02-17 03:52] roshanr10 commented on #99
Precisely what does this issue entail? Motion Magic on what subsystem, and what advantage does it give us– is PID alone not acting quick enough? MM is a fabulous tool but I would check if it's truly necessary.

[2019-02-17 03:53] roshanr10 commented on #83
@ShashJar have those controls been finalized in WIP?

[2019-02-17 03:53] roshanr10 commented on #96
based on commits, I'm assuming this is entirely complete on both the motor controller and rio sides?

[2019-02-17 03:54] roshanr10 commented on #88
@ShashJar arm is not always perpendicular to elevator– it depends on whether you're manipulating hatch vs. cargo

[2019-02-17 04:05] roshanr10 commented on #97
again, what does this issue entail? the elevator, at least as far as I had heard, does not remain at 90º constantly while picking up or releasing cargo.

is this mapping UI to commands or getting the set point commands to work?

[2019-02-17 04:26] ashwinc12 commented on #99
MM could be used for the elevator for setpoints because setting the position makes the elevator arm very wobbly. Motion magic will take into account the distance and the velocity to make this more streamlined with only a couple more values to tune. Check the motion-magic branch.

[2019-02-17 04:29] ashwinc12 commented on #97
It was requested by Jeff to have a button that keeps the arm at 90 degrees in order to avoid the flailing and just make it generally easier to place cargo and hatches. Ideally using motion magic for the setpoints.

[2019-02-17 04:58] roshanr10 commented on #99
if you have a proper PID, you should theoretically be fine.

MM will definitely help but tuning MM is even more difficult than PID... so my million dollar question for you: has it been written and tested thoroughly on the competition robot?

[2019-02-17 05:02] roshanr10 commented on #97
MotionMagic is cool but it will only make it more difficult to tune. I'm still not convinced that PID is insufficient for our current needs.

Also, is Jeff aware that we have code that can keep the arm at whatever angle it's released at? That bit seems unclear and could drastically change his perspective– what is "generally easier"?

I would personally integrate arm setpoints with the elevator but

[2019-02-17 13:39] ShashJar commented on #83
@roshanr10  haven't had time to test the robot with drive team and make sure they're good with all the controls, likely tomorrow since this doesn't take long

[2019-02-17 13:41] ShashJar commented on #88
@roshanr10 that's true - in general, we need to test whether we need commands for placing

[2019-02-17 19:43] ShashJar commented on #97
Was a decision made on this front/has any progress been made on it?

[2019-02-18 03:20] roshanr10 commented on #83
@ShashJar @ashwinc12 what's the plan for dashboard currently? I'm fine with anything NetworkTables related, also I'd appreciate if you can do #94 whenever the code side of that is done – I can finish putting together custom dashboard easily if it comes to it... I have some local changes I'll push up whenever I get a chance

[2019-02-18 03:25] roshanr10 commented on #97
As far as I'm aware, none. See my addt. comments in #99.

I'd also ask @TechplexEngineer and @derrell for their input, but I would strongly recommend against motion magic unless absolutely necessary. PID is pretty effective for basic mechanisms like the ones we have.

[2019-02-18 03:37] ShashJar commented on #87
@sMyn42 please post progress and changes made

[2019-02-18 03:49] ShashJar commented on #99
PID will be tested further tomorrow for climber, elevator, and elevator arm. If we are unable to calibrate our subsystems to a certain point, we will attempt implementing MM. For now, #97, #88, and #56 are all concerned with PID tuning.

[2019-02-18 03:52] ShashJar commented on #97
To-Do for this Issue as of 02/17/19:
- Write command for placement of arm at 90 degrees to elevator
- Tune PID values to minimize flailing
- Assign command to button
https://robotics.stackexchange.com/questions/167/what-are-good-strategies-for-tuning-pid-loops

[2019-02-18 03:54] ShashJar commented on #88
To-Do for this Issue as of 02/17:

- Ensure all setpoints are working well with the command to set position while the elevator is in any starting position
- Assign setpoints to corresponding button - consider an additional manipulator gamepad for elevator and climber if necessary

[2019-02-18 03:55] ShashJar commented on #86
To-Do for this Issue as of 02/17:

- Test current line follow command in conjunction with lidar (test separately as well)
- If current line follow command isn't very efficient, test out new command involving camera usage and defer to drive team for final decision
- Assign to controls necessary

[2019-02-18 03:57] ShashJar commented on #56
To-Do for this Issue as of 02/17:

- Test manual control of climber stilt and climber drive and assign to controls
- Test automatic control of climber stilt in conjunction with elevator
- Fix PID values for elevator arm and climber, and potentially elevator
https://robotics.stackexchange.com/questions/167/what-are-good-strategies-for-tuning-pid-loops
- Consider using an additional manipulator game

[2019-02-18 04:16] roshanr10 commented on #99
Y'all are aware that MM is literally just MORE PID running at a higher interval right? You still need to tune PID to implement MM successfully.

MM is a 1D motion profile that essential develops PID set points for every 0.05s or something essentially you tell the mechanism where it should be when, and helps control for very precise movements by setting "checkpoint" along the way. What I'm trying t

[2019-02-18 04:33] roshanr10 commented on #97
additional PID reference: https://frc-pdr.readthedocs.io/en/latest/control/pid_control.html

[2019-02-18 04:36] roshanr10 commented on #88
as for extra gamepad, I'd recommend trying to avoid that b/c that may well increase cycle time

[2019-02-18 13:09] sMyn42 commented on #87
The software side of this issue is done.

On Sun, Feb 17, 2019, 10:37 PM Shashank Jarmale <notifications@github.com
wrote:

[2019-02-18 13:17] roshanr10 commented on #87
Done and tested, or done in theory?

On Mon, Feb 18, 2019 at 08:09 Saketh Mynampati <notifications@github.com>
wrote:

[2019-02-18 17:31] ashwinc12 commented on #99
Don't think it will be implemented due to working state of elevator setpoints... closing for now

[2019-02-18 17:31] #99 closed

[2019-02-18 17:32] ashwinc12 commented on #92
This seems to be done

[2019-02-18 17:32] #92 closed

[2019-02-18 17:32] ashwinc12 commented on #90
Status?

[2019-02-18 17:32] ashwinc12 commented on #91
Status?

[2019-02-18 17:56] roshanr10 commented on #92
“Seems to be”?

On Mon, Feb 18, 2019 at 12:32 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-18 17:57] roshanr10 commented on #91
Was this decided against? I have base code for this if you want... how’s
touchscreen interface going?

On Mon, Feb 18, 2019 at 12:32 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-18 18:08] ShashJar commented on #88
public static final int elevatorSetpointHatchLow = 0; // Bottom hatch position
  public static final int elevatorSetpointHatchMiddle = -25300; // Middle hatch position
  public static final int elevatorSetpointHatchHigh = -51300; // Top hatch position

  public static final int elevatorSetpointCargoLow = -10582; // Bottom Cargo
  public static final int elevatorSetpointCargoMiddle = -30638; // Mid

[2019-02-18 18:12] roshanr10 commented on #90
As far as I’m aware, not much change formally, maybe done camera streams
and debug values
On Mon, Feb 18, 2019 at 12:32 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-02-18 21:23] sMyn42 commented on #87
Done.

On Mon, Feb 18, 2019, 8:17 AM Roshan Ravi <notifications@github.com wrote:

[2019-02-25 16:38] roshanr10 commented on #93
is this done? @ashwinc12

[2019-02-25 16:51] roshanr10 commented on #87
@sMyn42 has this been merged to master and ready for close?

[2019-02-25 16:51] roshanr10 commented on #88
@ShashJar has this been merged to master and ready for close?

[2019-02-25 19:43] ashwinc12 commented on #88
Have to re test these points.

[2019-02-25 20:03] #93 closed

[2019-02-25 20:05] #87 closed

[2019-02-25 23:21] sMyn42 commented on #87
Yes

On Mon, Feb 25, 2019 at 11:51 AM Roshan Ravi <notifications@github.com>
wrote:

--
Thank you,
Saketh Mynampati

[2019-02-25 23:22] sMyn42 commented on #89
Ill do this

[2019-02-26 00:34] roshanr10 commented on #94
@ashwinc12 I think we should do this whenever we get the chance out of bag. It's very quick and gives us a lot more flexibility to test UI before competition

[2019-02-26 22:18] roshanr10 opened #110 "Update Gradle Config"
As per discussion with @TechplexEngineer yesterday, the Gradle & VSCode config is not up to date, we should update this on `testing` branch and **ALL** of our team development machines.

[2019-02-27 23:55] ashwinc12 opened #111 "Decrease drive speed as elevator height increases"

[2019-02-28 03:34] ashwinc12 commented on #97
Discussed upon and implemented

[2019-02-28 03:34] #97 closed

[2019-02-28 04:08] roshanr10 commented on #90
while current plan is to do #91, I think this should be done as a failsafe. if we do it right, it should take less than 30 minutes as it uses the same values as the custom dashboard would– this way we have a reliable backup in the event we need it

[2019-03-05 20:34] Vultimate1 commented on #111
I have some code for this.  I'll pull request it today.

[2019-03-06 02:12] sMyn42 commented on #111
I already wrote code for this

On Tue, Mar 5, 2019 at 3:34 PM SKrishnamoorthy <notifications@github.com>
wrote:

--
Thank you,
Saketh Mynampati

[2019-03-06 02:40] #56 closed

[2019-03-06 02:41] ashwinc12 commented on #84
These are coming in with the new pull request

[2019-03-06 02:41] ashwinc12 opened #118 "Add limit switch for elevator"
- [x] Stop on Rev. Limit Continuity
- [x] Zero on Rev. Limit Continuity
- [ ] Implement Rev. Limit Override to Climb

[2019-03-06 02:42] ashwinc12 commented on #118
@roshanr10 Do you know the status of this?

[2019-03-06 16:45] roshanr10 commented on #111
if it’s written, PR it.

[2019-03-06 16:46] roshanr10 commented on #84
which PR, use tags

[2019-03-06 18:41] sMyn42 commented on #111
Soon. I already prd the first version.

On Wed, Mar 6, 2019, 11:45 AM Roshan Ravi <notifications@github.com> wrote:

[2019-03-08 15:40] roshanr10 commented on #111
@ashwinc12 are you planning to work on this today?

[2019-03-08 20:07] Vultimate1 commented on #66
Is vision processing still a possibility?  If so, we could just use the grip file created for detecting the reflective tape, without any java code.  We can still see the reflective tape through the grip file.  I've made it so you see its outlined shape to detect the tape.

[2019-03-08 21:20] roshanr10 commented on #66
@Vultimate1 if you can get working *offboard*, then we can consider it. can you provide a more in depth explanation of your proposal?

[2019-03-11 19:51] roshanr10 commented on #38
closing based on IR sensor success

[2019-03-11 19:51] roshanr10 commented on #59
closing based on discussion today, will reopen as necessary

[2019-03-11 19:51] #59 closed

[2019-03-11 19:51] #38 closed

[2019-03-11 19:51] #110 closed

[2019-03-11 20:17] roshanr10 opened #125 "Install & Configure Firefox"
also: https://support.mozilla.org/en-US/questions/1199017

set constant to 2

[2019-03-11 22:45] roshanr10 commented on #94
[networktables.txt](https://github.com/FRCteam4909/2019-Deep-Space/files/2954477/networktables.txt)

rename to .ini and import into NT

[2019-03-11 22:45] #94 closed

[2019-03-11 22:45] roshanr10 commented on #90
has been done, works currently.

[2019-03-11 22:45] #90 closed

[2019-03-11 22:48] roshanr10 commented on #125
@jasonbishop11 completed this

[2019-03-11 22:48] #125 closed

[2019-03-11 22:48] roshanr10 commented on #86
decided against.

[2019-03-11 22:48] #86 closed

[2019-03-11 22:49] roshanr10 commented on #84
continued in #88, closing

[2019-03-11 22:49] #84 closed

[2019-03-11 22:50] roshanr10 commented on #85
decided against.

[2019-03-11 22:50] #85 closed

[2019-03-11 22:50] roshanr10 commented on #66
decided against.

[2019-03-11 22:50] #66 closed

[2019-03-11 22:50] roshanr10 commented on #89
done as part of #90

[2019-03-11 22:50] #89 closed

[2019-03-11 22:52] roshanr10 commented on #83
all but #91 has been remedied, closing for now

[2019-03-11 22:52] #83 closed

[2019-03-11 23:00] roshanr10 commented on #111
see #119. closing

[2019-03-11 23:00] #111 closed

[2019-03-12 19:44] roshanr10 opened #128 "Fix Stilts"

[2019-03-12 20:08] TechplexEngineer commented on #128
Need more descriptive words

[2019-03-12 20:10] roshanr10 commented on #128
I know. It’s a placeholder issue for the time being to correspond with all
other discussion & white board. Now, all places have a consistent list.

I’ll update this when I get a chance.

On Tue, Mar 12, 2019 at 16:08 Blake Bourque <notifications@github.com>
wrote:

[2019-03-13 19:28] roshanr10 commented on #91
![IMG_1581](https://user-images.githubusercontent.com/4524103/54308522-90ee4c00-45a4-11e9-8150-6cc96f09ce9c.jpeg)
![IMG_1582](https://user-images.githubusercontent.com/4524103/54308527-92b80f80-45a4-11e9-8de2-58c69b10a95e.jpeg)

[2019-03-13 19:28] roshanr10 commented on #92
![57361426509__EA7C778D-2552-430F-9586-F5BD84AC3BF9](https://user-images.githubusercontent.com/4524103/54308528-9350a600-45a4-11e9-9114-10966201dd1f.jpeg)
![57361427846__F946DEC8-B26B-417E-B420-756B889AF850](https://user-images.githubusercontent.com/4524103/54308535-951a6980-45a4-11e9-8e62-236b63c67a03.jpeg)
![57361428646__E1A1A8D5-45C8-49B8-9CC1-F7D67B5AD010](https://user-images.githubusercontent

[2019-03-14 03:51] #118 closed

[2019-03-14 03:51] #128 closed

[2019-03-14 03:53] #91 closed

[2019-03-14 03:55] roshanr10 commented on #88
@ashwinc12 arm set points have been made relative, and changed– could use more testing tho

[2019-03-14 03:55] roshanr10 commented on #88
do we need to work on carriage set points too?

[2019-03-14 03:55] roshanr10 commented on #88
what does this issue actually entail at this point?

[2019-03-14 04:07] roshanr10 opened #129 "Cleanup SmartDashboard Debug Outputs"
- [ ] Remove Setpoint Commands
- [ ] Cleanup Sensor Feedback

[2019-03-14 05:24] #129 closed

[2019-03-15 14:55] roshanr10 opened #133 "Update WPILib Preferences"
https://github.com/FRCteam4909/2019-Deep-Space/blob/ffb3913942e681edf8d4e876ea4639253799f2d5/.wpilib/wpilib_preferences.json#L4

@TechplexEngineer thoughts on this? I don't think we've had any issues with this and this configuration is never used to the best of my knowledge. We have had this conversation before, but I'd just like to clarify with you.

[2019-03-15 14:55] roshanr10 commented on #88
@ashwinc12 @TechplexEngineer what else needs to be done for this to be considered closed?

[2019-03-15 17:01] TechplexEngineer commented on #133
I think it should be updated. Not sure if it is strictly needed but would be good to do

[2019-03-18 19:20] roshanr10 commented on #133
@Vultimate1 should be pretty straightforward, copy the corresponding JSON file mentioned above from the starter project in place of the current one and create a pull request to testing

[2019-03-18 19:21] roshanr10 commented on #88
closing due to stale activity, will reopen subtasks so we can actually follow along with what's happening

[2019-03-18 19:21] #88 closed

[2019-03-18 19:33] roshanr10 opened #153 "Test PixyCAM for Alignment"
I'll be putting together this today and handing off to Ashwin tonight to experiment with using this for alignment. I think he's trying vision for line following.

Limelight is also backordered like anything, so I don't think we'll get much time to test that for DCMP even if we obtain it. Mr. Flood is pushing hard for it so we'll see.

[2019-03-18 19:35] roshanr10 opened #154 "Implement Elevator Height Setpoints"
This requires some more ingenuity in terms of figuring out the control scheme. What's been talked about is a "shift key" of sorts that will allow us to use the existing four buttons(A,B,X,Y) as eight buttons, mapping to each possible orientation of the hatch and cargo placement.

Done Includes
- [ ] Elevator Commands that PID to a given Encoder Value aka Height Setpoint
- [ ] Implementing a "Shift

[2019-03-18 19:45] roshanr10 opened #155 "Look into Alternate Ways to Mount NavX"
NavX needs to be on a surface perpendicular to the ground in order to function properly according to the doc.

Done Includes
- [ ] Look into Wiring Options off board the Rio
- [ ] Discuss with Build on Mounting w/ Respect to Potential Wiring

[2019-03-18 19:49] roshanr10 opened #156 "Look into using Pigeon IMU"
Given the potential difficulty in using the NavX and the possible concerns with running the PID loop on the Rio side, I'd also like to consider using the Pigeon IMU from CTRE, which I believe can also work directly with the SRX PID.

Done Includes
- [ ] Solder Pigeon Contacts for Power/CAN
- [ ] Discuss with Build for Mounting Location
- [ ] Implement Climb w/ Pigeon as Elevator Feedback Sensor du

[2019-03-18 19:49] roshanr10 opened #157 "Attempt to use NavX Values when mounted at angle (ex. Apollo)"
As per discussion in #152, and testing on Sunday 3/17 at Reading, we'd like to use the NavX in the current configuration if at all possible as that would alleviate many concerns with moving the NavX or the Rio as we do not have many stationary surfaces that we could mount to that are also perpendicular to the ground.

@djwalker200 said he'll see if he can figure out the vectors and get values acco

[2019-03-18 19:53] roshanr10 opened #158 "Create Stilts PID Position Setpoint for Climb"
This would help us stay level even if we don't have gyro feedback. If this gets integrated into a command group that doesn't start climbing until we reach a threshold for "level", all the better

Done Includes
- [ ] Implementing Command to set stilts down so that the robot is roughly level
- [ ] Mapping aforementioned command to a button for the drivers, after discussing with them and Ashwin/Rosha

[2019-03-18 20:05] roshanr10 opened #159 "Look into Limit Switch Issue on Elevator"
Our reverse limit switch on the elevator currently never triggers. This could be an issue with the limit switch currently on the robot.

Done Includes
- [ ] Figuring out Limit Switch Issue and Verifying via Phoenix Tuner
- [ ] Ensure Zero/Limiting is as intended(zero & limit while manipulator gamepad and don't do either while climber gamepad– pass a `boolean limitOverride` from Robot.java to store

[2019-03-18 20:17] roshanr10 opened #160 "Figure out Cameras"
What cameras does drive team actually want? I can't seem to decipher if Matt Sweeney is worried it won't work if we have all cameras or if he legitimately won't use them because they're struggling to align precisely in sandstorm and otherwise.

Done Includes
- [ ] Having a chat with drive team on how many cameras we want and where
- [ ] Mounting the aforementioned changes
- [ ] Adapting the Code f

[2019-03-19 01:25] Vultimate1 commented on #133
The JSON file in the starter project is the same as the current file.

[2019-03-19 01:59] roshanr10 commented on #133
Hmmm that doesn’t seem right, did you update your local WPILib Plugins
installation?

On Mon, Mar 18, 2019 at 21:25 SKrishnamoorthy <notifications@github.com>
wrote:

[2019-03-19 03:52] roshanr10 opened #163 "Implement Autonomous Climb Functionality"
Title says it all, attempt to have a one click climb functionality that uses LIDAR and the encoders to climb onto a given HAB level.

Ex. Typical Workflow to L3*
- [ ] Level Bottom Wheels while on L1
- [ ] Lift Robot to L3
- [ ] Drive Forward till X distance from DS Wall
- [ ] Raise Front Stilts / Elevator
- [ ] Drive Forward till Y distance from DS Wall
- [ ] Raise Back Stilts
- [ ] Drive Forward

[2019-03-19 03:54] roshanr10 commented on #157
I want to time box this to 30 minutes tops. Any longer and we’re just killing time. @djwalker200 should join Ankit on #155 if we reach that point,

[2019-03-19 06:17] ashwinc12 commented on #153
Posted most of my comments in software but I'll post again here and add some more stuff

[2019-03-19 06:17] ashwinc12 commented on #153
PixyCam update: I was able to get the PixyCam and Arduino connected to the rio via usb serial port and was able to send and receive data both ways. All of the code can be found in the pixy-test branch and I'll post the arduino code that I wrote as well in here. The original plan was to have the rio call the arduino after the a command was called. Then, depending on the situation, if the robot veer

[2019-03-19 06:22] ashwinc12 commented on #153
![unnamed](https://user-images.githubusercontent.com/25444441/54584463-cc967500-49ed-11e9-9f41-fd0e7e56fa59.jpg)

[2019-03-19 06:25] ashwinc12 commented on #153
The way the correction works is by using the tip and tail of the vector that is given by the pixycam `getMainFeatures()` method. The tip has coordinates (x1,y1) and the tail has coordinates (x0, y0). In the picture above, is an example of if the robot strayed too far right. The difference from the center to x1 is greater than the distance from the center of x0, therefore we must correct left. Vice

[2019-03-19 06:27] ashwinc12 commented on #153
After getting the sending bytes problem figured out, all that's left to do is write the remaining couple lines of code on the rio side and then test with gaffers tape and frankie and the actual robot.

[2019-03-19 06:28] ashwinc12 commented on #153
Something that should get changed later if we do end up going with pixycam, is doing a threshold of error when doing the vector math as described above. Right now the Pixy is very sensitive to corrections so the robot would continuously jerk itself. A tested threshold of error would fix this problem.

[2019-03-19 10:57] derrell commented on #155
Thoughts on this... I see two easy (famous last words) options here: mount the Rio horizontally or vertically; or mount the Navx horizontally or vertically while leaving the Rio where it is. I believe the Rio need not move off of the electronics board in either case. We can build Lexan triangle brackets that level the Rio in its current location; or build similar but smaller brackets that level th

[2019-03-19 20:35] #157 closed

[2019-03-19 20:35] roshanr10 commented on #157
decided against at today's meeting

[2019-03-19 20:36] roshanr10 commented on #160
Current ideas are bringing back the intake camera and adding a reverse camera for more precise maneuvers in sandstorm. Need to discuss further with drive team later

[2019-03-19 20:37] roshanr10 commented on #159
Found wiring issue, needs testing and then fix limits with new elevator code

[2019-03-19 21:20] roshanr10 commented on #133
This is what I see in the latest update, can you fix and push?
[code]

[2019-03-20 14:05] ashwinc12 commented on #153
Was able to get communication between the rio and the arduino and got the robot to line follow. I believe this proof-of concept is a success.

[2019-03-20 14:18] roshanr10 commented on #153
Love it, so what else needs to occur for this to go on the robot? Make a
checklist here and put up a WIP PR.

On Wed, Mar 20, 2019 at 10:05 Ashwin Chitoor <notifications@github.com>
wrote:

[2019-03-22 00:34] Vultimate1 commented on #133
I opened the wpilib_preferences.json file from GitHub and I saw this:
 {
  "enableCppIntellisense": false,
  "currentLanguage": "java",
  "projectYear": "Beta2019",
  "teamNumber": 4909
}
I also checked for updates, and there were none.  Also, this code is on the Testing branch.

[2019-03-23 17:58] Vultimate1 commented on #133
Which branch were you looking at when you saw the code with "projectYear": "Beta2019"?

[2019-03-23 18:03] roshanr10 commented on #133
pretty sure it's the same in all of them

[2019-03-24 02:49] Vultimate1 commented on #158
How do we find the threshold level for the climber?  We don't seem to have any setpoints for it.

[2019-03-24 02:51] Vultimate1 commented on #158
Are there any specific values for the level for the climber setpoint?

[2019-03-26 15:37] #155 closed

[2019-03-26 15:37] #153 closed

[2019-03-26 15:49] TechplexEngineer commented on #133
This is NOT fixed.

https://github.com/FRCteam4909/2019-Deep-Space/blob/testing/.wpilib/wpilib_preferences.json#L4

[2019-04-14 15:51] ashwinc12 commented on #163
Doesn't seem like drivers wanted this

[2019-04-14 15:51] #163 closed

[2019-04-14 15:52] ashwinc12 commented on #154
Talked to Jeff and he seemed content without setpoints as he knew how far to go anyways

[2019-04-14 15:52] #154 closed